@import url(navbar.css);
/* @import url(mobile.css); */
@import url(tablet.css);

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* hero main */

main {
  background-image: url("../img/hero/banner.png") !important;
  width: 100%;
  height: 796px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020202;
  height: 70vh;
  padding: 10px 100px;
}

.gallery {
  grid-template-rows: 1fr 2fr 1fr;
  gap: 10px;
  display: grid;
  width: 100%;
  height: 80%;
}

.gallery .header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.navbar-section-mobile {
  display: none;
}

.gallery .header h1 {
  color: white;
}

.gallery .content {
  box-sizing: border-box;
}

.gallery .btn {
  display: flex;
  justify-content: end;
  align-items: start;
}
.list-gallery {
  display: flex;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
  overflow-x: auto;
}
.list-gallery ul li {
  margin-left: 10px;
  background-color: #606060;
  color: white;
  border-radius: 100px;
  font-size: 11px;
  padding: 3px 15px;
  list-style: none;
  display: inline-block;
}

.gallery .btn a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 10px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  border-radius: 8px;
  background-color: #fcaf17;
  text-decoration: none;
  color: #020202;
}

.content {
  gap: 1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.content img {
  align-items: center;
  display: block;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

/* banner */

.banner {
  background-color: #020202;
  width: 100%;
  height: 535px;
  padding: 10px 100px;
  box-sizing: border-box;
}

.content-banner {
  margin-top: 50px;
  margin-left: 100px;
  grid-template-areas:
    "logo-b h-b"
    "p-b p-b"
    "btn-b btn-b";
  padding-top: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: 150px 170px;
  grid-template-rows: 120px 100px 80px;
}

.heading-banner {
  grid-area: h-b;
  display: flex;
  align-items: center;
}

.logo-banner {
  grid-area: logo-b;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcaf17;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 25%;
  border: 4px solid #020202;
}

.logo-banner img {
  width: 70px;
}

.card-banner {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/banner/fundo.png");
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.paragraft-banner {
  padding-top: 20px;
  grid-area: p-b;
}

.paragraft-banner h2 {
  line-height: 35px;
  font-weight: 700;
}

.heading-banner h1 {
  line-height: 35px;
  font-weight: bold;
}

.img-banner {
  display: flex;
  align-items: center;
  justify-content: end;
}

.button-banner {
  margin-top: 10px;
  grid-area: btn-b;
}

.button-banner a {
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
  color: #020202;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px 40px;
  background-color: #fcaf17;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.button-banner a:hover{
  background-color: #ffb92e;
}

.img-banner img {
  align-items: center;
  justify-items: center;
  width: 660px;
}

/* mobile */

@media only screen and (max-width: 600px) {
  section .gallery .content img {
    width: 100%;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020202;
    height: 100%;
    padding: 10px 30px !important;
  }

  nav {
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  nav .logo {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .c-h {
    display: flex;
    justify-content: end;
    align-self: center;
  }

  .hamburger {
    padding: 5px;
    display: inline-block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.active {
    overflow: hidden;
  }

  .list-mobile ul li {
    padding-left: 10px !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .list-mobile ul li:hover {
    border: 2px solid #fcaf17;
  }

  .in-btn-mobile {
    border-radius: 5px;
    background-color: #fcaf17;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .in-btn-mobile a {
    text-decoration: none;
    color: #020202;
  }

  .navbar-mobile {
    width: 100%;
  }

  .list-mobile {
    width: 100%;
  }

  /* .navbar-section-mobile{
    display: none;
  } */

  .navbar-section-mobile.active {
    box-sizing: border-box;
    padding: 10px !important;
    display: flex;
    align-items: start;
    justify-content: center;
    position: absolute;
    height: 100%;
    color: white;
    background-color: #020202;
    width: 100%;
  }

  .gallery .header h1 {
    color: white;
    font-size: 20px;
  }

  .list-gallery ul li {
    margin-left: 5px;
    background-color: #606060;
    color: white;
    border-radius: 100px;
    font-size: 9px;
    padding: 3px 10px;
    list-style: none;
    display: inline-block;
  }

  .list-gallery ul {
    display: flex;
    overflow-x: auto;
  }

  .gallery {
    margin-top: 10px;
    grid-template-rows: 50px 1fr 50px;
    display: grid;
    width: 100%;
    height: 80%;
  }

  .gallery .header {
    display: grid;
    grid-template-columns: 4fr 2fr !important;
    align-items: end;
  }

  .list-nav {
    display: none;
  }

  .btn-nav,
  .icon-nav {
    display: none;
  }

  .content {
    gap: 1%;
    align-items: center;
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
  }

  .content::-webkit-scrollbar {
    width: 0px;
    /* border-bottom: 2px solid #fcaf17; */
  }

  .content img {
    border-radius: 10px;
    width: 200px !important;
    margin-right: 10px;
  }

  /* banner */

  .content-banner {
    margin-top: 0px;
    margin-left: 0px;
    grid-template-areas:
      "logo-b h-b"
      "p-b p-b"
      "btn-b btn-b";
    padding-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 100px;
    grid-template-rows: 70px 40px 10px;
  }

  .card-banner{
    width: 100%;
  }
  .content-banner{
    padding-left: 10px;
  }

  .banner{
    padding: 20px;
    margin: 0px;
    height: 200px;
  }

  .img-banner img{
    width: 180px;
  }

  .logo-banner{
    width: 30px;
    height: 30px;
    gap: 0px;
  }

  .logo-banner img{
    width: 20px;
  }

  .heading-banner{
  }

  .heading-banner h1{
    margin-top: -10px;
    margin-left: 15px;
    line-height: 20px;
    font-size: 15px;
  }

  .paragraft-banner{
    margin-top: 5px;
  }

  .paragraft-banner h2{
    margin-top: -25px;
    line-height: 10px;
    font-size: 10px;
  }

  .button-banner a {
    font-size: 10px;
    font-weight: 700;
    box-sizing: border-box;
    margin-top: -15px;
    border-radius: 5px;
    text-decoration: none;
    color: #020202;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100px;
    padding: 7px 0px;
    background-color: #fcaf17;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}
