@import url(navbar.css);
/* @import url(mobile.css); */
@import url(tablet.css);

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* hero main */

main {
  background-image: url("/slicinggta/img/hero/banner.png") !important;
  width: 100%;
  height: 796px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020202;
  height: 70vh;
  padding: 10px 100px;
}

.gallery {
  grid-template-rows: 1fr 2fr 1fr;
  gap: 10px;
  display: grid;
  width: 100%;
  height: 80%;
}

.gallery .header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.gallery .header h1 {
  color: white;
}

.gallery .content {
  box-sizing: border-box;
}

.gallery .btn {
  display: flex;
  justify-content: center;
  align-items: center;

}
.list-gallery {
  display: flex;
  justify-content: end;
  align-items: center;
}
.list-gallery ul li {
  margin-left: 10px;
  background-color: #606060;
  color: white;
  border-radius: 100px;
  font-size: 11px;
  padding: 3px 15px;
  list-style: none;
  display: inline-block;
}

.gallery .btn a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 13px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  border-radius: 8px;
  background-color: #fcaf17;
  text-decoration: none;
  color: #020202;
}

.content {
  gap: 1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.content img {
  align-items: center;
  display: block;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

/* mobile */


@media only screen and (max-width: 600px) {
  section .gallery .content img {
    width: 100%;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020202;
    height: 100%;
    padding: 10px 30px !important;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-columns: 1fr 1fr;
  }

  nav .logo  {
    display: flex;
    align-items: center;
    justify-content: start;
  }

 .c-h{
  display: flex;
  justify-content: end;
  align-self: center;
 }

  .hamburger{
    padding: 5px;
    display: inline-block;

  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  


  .list-nav,.btn-nav,.icon-nav{
    display: none;
  }


  /* .list-nav ul li {
    padding-left: 10px;
    margin-right: 10px;
    list-style: none;
    display: inline-block;
  } */

  .gallery .header h1 {
    /* background-color: crimson; */
    color: white;
    font-size: 20px;
  }

  .list-gallery ul li {
    margin-left: 5px;
    background-color: #606060;
    color: white;
    border-radius: 100px;
    font-size: 9px;
    padding: 3px 10px;
    list-style: none;
    display: inline-block;
  }

  .gallery {
    margin-top: 10px;
    grid-template-rows: 50px 1fr 50px;
    display: grid;
    width: 100%;
    height: 80%;
  }

  .gallery .header {
    display: grid;
    grid-template-columns: 4fr 2fr !important;
    align-items: end;
  }

  .list-nav {
    display: none;
    background-color: crimson;
    position: relative;
  }

  .btn-nav,
  .icon-nav {
    display: none;
  }

  .content {
    gap: 1%;
    align-items: center;
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
  }

  .content::-webkit-scrollbar{
    width: 10px;
    border-bottom: 2px solid #fcaf17;
  }

  .content img{
    border-radius: 10px;
    width: 200px !important;
    margin-right:10px ;
  }
}
